.filter-form {
    margin-top: 16px;
  
    .filter-row {
      display: flex;
      flex-wrap: nowrap; // Ensure fields stay in a single row
      gap: 16px;
      overflow-x: auto; // Allow horizontal scrolling if necessary
  
      .filter-field {
        flex: 1; // Make fields flexible
        min-width: 150px; // Adjust minimum width as needed
  
        mat-form-field {
          width: 100%; // Make sure form fields take up available width
        }
  
        mat-icon.matPrefix {
          margin-right: 8px; // Adjust spacing for the prefix icon
        }
      }
    }
    .button-row {
        display: flex;
        justify-content: flex-start; // Align buttons to the left
        gap: 16px; // Space between buttons
        margin-top: 16px; // Space above the button row
      
        .action-button {
          width: 140px; // Set a consistent width for all buttons
          border-radius: 12px; // Apply a border radius for rounded corners
          transition: background-color 0.3s, color 0.3s;
          padding: 10px 20px;
          color: black;
          background-color: grey; // Plain grey background for all buttons
          
          &:hover {
            color: #fff; // Text color on hover for all buttons
          }
        }
      
        .apply-button {
          background-color: #ff6961; // Semi-red color for Apply button
          
          &:hover {
            background-color: darken(#ff6961, 10%); // Darken for apply button on hover
          }
        }
      
        .cancel-button, .reset-button {
          &:hover {
            background-color: darken(grey, 10%); // Darken for cancel and reset buttons on hover
          }
        }
      }
      
      
  }
  