.filter-form {
    margin-top: 16px;
  
    .filter-row {
      display: flex;
      flex-wrap: nowrap; // Ensure fields stay in a single row
      gap: 16px;
      overflow-x: auto; // Allow horizontal scrolling if necessary
  
      .filter-field {
        flex: 1; // Make fields flexible
        min-width: 150px; // Adjust minimum width as needed
  
        mat-form-field {
          width: 100%; // Make sure form fields take up available width
        }
  
        mat-icon.matPrefix {
          margin-right: 8px; // Adjust spacing for the prefix icon
        }
      }
    }
  }
  