<div>
  <!-- Filter Button -->
  <button mat-raised-button color="primary" (click)="toggleFilters()">
    <mat-icon>filter_list</mat-icon>
    Filters
  </button>
  @if( showFilters){

  <!-- Filter Form -->
  <div class="filter-form">
    <form [formGroup]="filterForm">
      <div class="filter-row">
        <mat-form-field appearance="fill">
          <mat-label>MIC Key</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput formControlName="inputBox" />
        </mat-form-field>

        <!-- Add more input fields as needed -->
        <mat-form-field appearance="fill">
          <mat-label>MIC </mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput formControlName="input2" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Rate Type</mat-label>
          <mat-select formControlName="dropdown">
            @for (option of dropdownOptions; track option) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Staus</mat-label>
          <mat-select formControlName="dropdown">
            @for (option of dropdownOptions; track option) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter-row">
        <mat-form-field appearance="fill">
          <mat-label>Yield curve</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput formControlName="input3" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>As of date </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Frequency</mat-label>
            <mat-select formControlName="dropdown">
              @for (option of dropdownOptions; track option) {
              <mat-option [value]="option.value">{{ option.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Approvals</mat-label>
            <mat-select formControlName="dropdown">
              @for (option of dropdownOptions; track option) {
              <mat-option [value]="option.value">{{ option.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
      </div>
    </form>
  </div>
  }
</div>
